/*!CK:465058484!*//*1457569416,*/

._4tdu{color:#373e4d}
._394l{line-height:28px}._394m{line-height:24px}._394n{vertical-align:middle}
._5hvk{float:right;font-size:12px;line-height:16px;min-height:25px;padding-right:20px;position:relative;top:3px}._5hvl{display:inline-block;text-align:right}._2b9i{padding-left:4px;position:absolute}

#bootloader_ScNay{height:42px;}.bootloader_ScNay{display:block!important;}